@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

/* css variables */

:root {
  --primary: #4338ca;
  --primary-hover: #317BD6;
  --primary-button-active: #317BD6;
  --text: #030712;
  --background: #fff;
  --dialog-background: #fff;
  --input-background: #fff;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.2s ease-in-out;
}

body.dark {
  --primary: #6366f1;
  --primary-hover: #AE5AF9;
  --primary-button-active: #AE5AF9;
  --text: #e5e7eb;
  --background: #111827;
  --dialog-background: #1F2937;
  --input-background: #374151;
}

dialog {
  background-color: var(--dialog-background);
  color: var(--text);
}

main {
  min-height: 100vh;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-weight: bold
}

button:focus {
  outline: var(--primary) auto 1px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

dialog {
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 10px rgba(0 0 0 / 20%);
  max-width: 100%;
  width: 32rem;
}

input,
textarea {
  border: 1px solid var(--text);
  background-color: var(--input-background);
  color: var(--text);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

body.dark input {
  color-scheme: dark;
}


input[type="checkbox"] {
  padding: 1rem;
}

/* 
inputs focus so that the outline is visible even when the input is not focused
*/
input:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--primary);
}


/* components */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.btn-sort::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.5rem;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-top: 0.25rem solid #fff;
}

.btn.active {
  background-color: var(--primary-button-active);
}

.btn-sort.up::after {
  transform: rotate(180deg);
}

.icon {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}

.todo {
  display: grid;
  grid-template-columns: auto 3fr auto auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--text);
}

/* the first .todo should have the top border */
.todo:first-child {
  border-top: 1px solid var(--text);
}

.finished {
  text-decoration: line-through;
  opacity: 0.5;
}

/* utility classes */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.mr-1 {
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.space-x-2 > * + * {
  margin-left: 0.5rem;
}

.w-full {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 12rem)); 
  grid-gap: 1rem;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.justify-end {
  justify-content: end;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24rem;
}