@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

/* css variables */

:root {
  --primary: #4338ca;
  --primary-hover: #4f46e5;
  --text: #030712;
  --background: #fff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.2s ease-in-out;
}

body.dark {
  --primary: #6366f1;
  --primary-hover: #818cf8;
  --text: #e5e7eb;
  --background: #111827;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

dialog {
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 32rem
}

input,
textarea {
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

/* components */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.todo {
  display: grid;
  grid-template-columns: 1fr 3fr auto auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--text);
}

/* the first .todo should have the top border */
.todo:first-child {
  border-top: 1px solid var(--text);
}

.finished {
  text-decoration: line-through;
  opacity: 0.5;
}

/* utility classes */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.mr-1 {
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}